@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../imagens/radio-tv.png") no-repeat;
}
div#tv-radio audio#audio{
    display: block;
    position: relative;
    left: 575px;
    top: 500px;
    width: 300px;
}
div#tv-radio video#video{
    display: block;
    position: relative;
    left: 90px;
    top: 60px;
    width: 440px;
}